<div class="row">
    <div class="col-md-6">
      <div class="card demo-icons">
        <h4 class="header">Exam Detail</h4>
        <form>
          <div *ngFor="let quiz of currentRecord.exam.quizSet; let i = index">
            <ng-container *ngIf="quiz.type == 1">
              <div>
                <h5>Question {{ i + 1 }}: {{ quiz.content }}</h5>
                <section *ngFor="let answer of quiz.answers">
                        <p *ngIf="answer._correct">Correct answer is: {{answer.content}}</p>
                </section>
              </div>
            </ng-container>
          </div>
          
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card demo-icons">
        <h4 class="header">User answer detail</h4>
        <form>
          <div>
            <section *ngFor="let userAnswer of currentRecord.recordAnswers">
              <h5>Your answer is:</h5>
              <p>{{userAnswer.content}}</p>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>