<div class="row">
    <div class="col-md-12">
      <div class="card demo-icons">
        <h4 class="header">Record Detail</h4>
        <form>
          <div *ngFor="let quiz of currentRecord.exam.quizSet; let i = index">
            <ng-container *ngIf="quiz.type == 1">
              <div>
                <h5>Question {{ i + 1 }}: {{ quiz.content }}</h5>
                <section *ngFor="let answer of quiz.answers">
                        <p *ngIf="answer._correct">Correct answer is: {{answer.content}}</p>
                </section>
              </div>
              <div *ngFor="let userAnswer of currentRecord.recordAnswer">
                <p>Your answer: {{userAnswer.record_answer_id}}</p>
            </div>
            </ng-container>
            
          </div>
          <div>
            
          </div>
        </form>
      </div>
    </div>
  </div>