
.container {
    margin-top: 150px;
    width: 500px;
}

 #logo {
     font-weight: 600;
     color: #ef8157;
     margin-left: 20px;
     margin-top: 20px;
 }

 #subtitle {
     margin-left: 20px;
     margin-top: 0;
 }

h2 {
    font-weight: 600;
    text-align: center;
    margin: auto;

}

.card card-container {
    width: 500px;
}

form {
    width: 400px;
    align-self: center; 
}

button {
    display: flex;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ef8157;
    text-align: center;
}

label {
    font-weight: bold;
}

