<p>Time left: {{timeLeft}} s</p>
<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <h4 class="header">Exam {{ currentExam.exam_name }}</h4>
      <form>
        <div *ngFor="let quiz of currentExam.quizSet; let i = index">
          <ng-container *ngIf="quiz.type == 1">
            <div>
              <h5>Question {{ i + 1 }}: {{ quiz.content }}</h5>
              <section *ngFor="let answer of quiz.answers">
                <input type="radio" name="{{quiz.id}}" value="{{answer.id}}"
                  (change)="selectAnswers(answer.id, quiz)" />{{ answer.content }}
              </section>
            </div>
          </ng-container>

          <ng-container *ngIf="quiz.type == 2">
            <div>
              <h5>Question {{ i + 1 }}: {{ quiz.content }}</h5>
              <section class="answer-section" *ngFor="let answer of quiz.answers">
                <input type="checkbox" name="{{ answer.id }}" />{{
                  answer.content
                }}
              </section>
            </div>
          </ng-container>
        </div>
        <div>
          <button type="button" (click)='submit()'>Submit</button>
          <button (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>