<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Record List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" style="text-align: center;">
            <thead class=" text-primary">
              <th>
                Exam Code
              </th>
              <th>
                Exam Name
              </th>
              <th>
                Your Score
              </th>
              <th class="text-right">
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let record of recordList">
                <td>{{record.exam.exam_code}}</td>
                <td>{{record.exam.exam_name}}</td>
                <td>{{record.score}} / {{record.exam.score}}</td>
                <td class="text-right"><button class="btn btn-info" (click)="getRecordDetail(record.id)">Detail</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

